{% load static %}
{%load plotly_dash%}
<!DOCTYPE html>
<html>
    <head>
       <title>
        Plotty App
       </title>
        <script src="https://unpkg.com/htmx.org@1.2.1"></script>
       <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
       
    </head>

    <body>
        <div class="sidenav">
            <a href="{% url 'home' %}">Simple </a>
            <a href="{% url 'plot_2' %}">Scatter </a>
            <a href="{% url 'plot_3' %}">Bar </a>
            <a href="{% url 'plot_4' %}">Live Update </a>
            <!-- <a hx-get="{% url 'home' %}" hx-push-url="true"
                        hx-target="#content" hx-swap="innerHTML" 
                        hx-indicator="#content-loader">Simple</a> -->
          </div>
          <div class="main">

                <div class="content" id="content">
                {% block content%}
                    <div class="plot_desc">            
                            Simple plotty test                
                        <br/>
                    </div>
                    
                    <div class="iframe-container">
                        {% plotly_app name="SimpleExample" %}
                    </div>
                {% endblock %}
                </div>

          </div>
           
    <body>
</html>